@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #485563;

    --background: 224 10.4% 2.72%;
    --foreground: 224 1.6% 96.7%;

    --muted: 224 8% 10.200000000000001%;
    --muted-foreground: 224 1.6% 53.4%;

    --popover: 224 61.8% 4.42%;
    --popover-foreground: 224 1.6% 96.7%;

    --card: 224 61.8% 4.42%;
    --card-foreground: 224 1.6% 96.7%;

    --border: 224 8% 10.200000000000001%;
    --input: 224 8% 10.200000000000001%;

    --primary: 224 16% 34%;
    --primary-foreground: 224 1.6% 96.7%;

    --secondary: 224 8% 10.200000000000001%;
    --secondary-foreground: 224 1.6% 96.7%;

    --accent: 224 8% 10.200000000000001%;
    --accent-foreground: 224 1.6% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 224 1.6% 96.7%;

    --ring: 224 16% 34%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}